<!-- start: DASHBOARD TITLE -->
<section id="page-title" class="padding-top-15 padding-bottom-15">
	<div class="row">
		<div class="col-sm-7">
			<h1 class="mainTitle" translate="dashboard.WELCOME" translate-values="{ appName: app.name }">{{ mainTitle }}</h1>
			<span class="mainDescription">overview &amp; stats </span>
		</div>
	</div>
</section>
<!-- end: DASHBOARD TITLE -->

<!-- start: FIRST SECTION -->
<div class="container-fluid container-fullw padding-bottom-10">
	<div class="row">
		<div class="col-xs-12 col-sm-4">
			<div class="panel panel-white no-radius">
				<div class="panel-heading border-bottom">
					<h4 class="panel-title">Activities</h4>
				</div>
				<div class="panel-body">
					<div class="panel-scroll height-350" perfect-scrollbar wheel-propagation="false" suppress-scroll-x="true">
						<ul class="timeline-xs margin-top-15 margin-bottom-15">
							<li class="timeline-item success">
								<div class="margin-left-15">
									<div class="text-muted text-small">
										2 minutes ago
									</div>
									<p>
										<a class="text-info" href>
											Steven
										</a>
										has completed his account.
									</p>
								</div>
							</li>
							<li class="timeline-item">
								<div class="margin-left-15">
									<div class="text-muted text-small">
										12:30
									</div>
									<p>
										Staff Meeting
									</p>
								</div>
							</li>
							<li class="timeline-item danger">
								<div class="margin-left-15">
									<div class="text-muted text-small">
										11:11
									</div>
									<p>
										Completed new layout.
									</p>
								</div>
							</li><li class="timeline-item danger">
							<div class="margin-left-15">
								<div class="text-muted text-small">
									11:11
								</div>
								<p>
									Completed new layout.
								</p>
							</div>
						</li><li class="timeline-item danger">
							<div class="margin-left-15">
								<div class="text-muted text-small">
									11:11
								</div>
								<p>
									Completed new layout.
								</p>
							</div>
						</li>
							<li class="timeline-item info">
								<div class="margin-left-15">
									<div class="text-muted text-small">
										Thu, 12 Jun
									</div>
									<p>
										Contacted
										<a class="text-info" href>
											Microsoft
										</a>
										for license upgrades.
									</p>
								</div>
							</li>
							<li class="timeline-item">
								<div class="margin-left-15">
									<div class="text-muted text-small">
										Tue, 10 Jun
									</div>
									<p>
										Started development new site
									</p>
								</div>
							</li>
							<li class="timeline-item">
								<div class="margin-left-15">
									<div class="text-muted text-small">
										Sun, 11 Apr
									</div>
									<p>
										Lunch with
										<a class="text-info" href>
											Nicole
										</a>
										.
									</p>
								</div>
							</li>
							<li class="timeline-item warning">
								<div class="margin-left-15">
									<div class="text-muted text-small">
										Wed, 25 MarF
									</div>
									<p>
										server Maintenance.
									</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-8">
			<div class="panel panel-white">
				<div class="panel-heading border-bottom">
					<h4 class="panel-title">Repsoitories</h4>
					<ul class="panel-heading-tabs border-light">
						<li class="panel-tools">
							<a href="javascript:;" class="btn btn-transparent btn-sm" tooltip-placement='left' tooltip='Create new repository...' ui-sref="app.newRepository">
								<i class="ti-plus"></i>
							</a>
						</li>
					</ul>
				</div>
				<div class="panel-body" ng-controller="repositoriesCtrl">
					<div class="panel-scroll height-350" perfect-scrollbar wheel-propagation="false" suppress-scroll-x="true">
						<div class="row"  ng-repeat="repository in repositories | orderBy : '-lastCommit'">
							<div class="col-sm-2">
								<img src="assets/images/big_logo.png" class="img-rounded height-90 center-block" ng-show="repository.photo === undefined">
								<img ng-src="{{repository.photo}}" class="img-rounded height-90 center-block" ng-hide="repository.photo === undefined">
							</div>
							<div class="col-sm-10 border-left">
								<div class="block">
									<h3 class="title inline">{{repository.name}}</h3>
									<small class="inline margin-left-5" tooltip-placement='right' tooltip='{{repository.lastCommit | date : "short"}}'>{{repository.lastCommit | timeago}}</small>
								</div>
								<p class="panel-scroll height-75" perfect-scrollbar wheel-propagation="false" suppress-scroll-x="true">
									{{repository.des}}
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="row">
				<div class="col-md-12 col-lg-12">
					<div class="panel panel-white no-radius" id="visits">
						<div class="panel-heading border-light">
							<h4 class="panel-title"> Visits </h4>
							<ul class="panel-heading-tabs border-light">
								<li>
									<div class="rate">
										<i class="fa fa-caret-up text-primary"></i><span class="value">15</span><span class="percentage">%</span>
									</div>
								</li>
								<li class="panel-tools">
									<ct-paneltool tool-refresh="load1"></ct-paneltool>
								</li>
							</ul>
						</div>
						<div collapse="visits" ng-init="visits=false" class="panel-wrapper">
							<div class="panel-body">
								<!-- /// controller:  'VisitsCtrl' -  localtion: assets/js/controllers/dashboardCtrl.js /// -->
								<div ng-controller="VisitsCtrl" class="height-350">
									<canvas class="tc-chart" tc-chartjs-line chart-options="options" chart-data="data" chart-legend="chart1" width="100%"></canvas>
									<div class="margin-top-20">
										<div tc-chartjs-legend chart-legend="chart1" class="inline pull-left"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end: FIRST SECTION -->