<section id="page-title" class="padding-top-15 padding-bottom-15">
    <div class="row">
        <div class="col-sm-7">
            <h1 class="mainTitle">Create new repository</h1>
            <span class="mainDescription">Want to start another project?</span>
        </div>
    </div>
</section>

<div class="container-fluid container-fullw padding-bottom-10" ng-controller="newRepositoryCtrl">
    <div class="row">
        <div class="col-sm-12">
            <form id="create_new_repository_form">
                <div class="panel panel-white">
                    <div class="panel-heading border-bottom">
                        <h4 class="panel-title">Create new repository</h4>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12 col-md-3">
                                <div flow-init="{singleFile:true}" flow-name="obj.flow" flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]">
                                    <div class="repository-image">
                                        <div class="thumbnail">
                                            <img src="assets/images/big_logo.png" alt="" ng-if="!obj.flow.files.length">
                                            <img flow-img="obj.flow.files[0]" ng-if="obj.flow.files.length">
                                        </div>
                                        <div class="repository-image-buttons" ng-if="obj.flow.files.length">
                                            <span class="btn btn-primary" flow-btn><i class="fa fa-pencil"></i></span>
                                            <span class="btn btn-danger" ng-click="obj.flow.cancel()"> <i class="fa fa-times"></i> </span>
                                        </div>
                                        <div class="repository-image-buttons" ng-if="!obj.flow.files.length">
                                            <span class="btn btn-primary" flow-btn><i class="fa fa-pencil"></i></span>
                                            <span class="btn btn-danger" ng-if="!noImage" ng-click="removeImage()"><i class="fa fa-times"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-9 border-left">
                                <fieldset>
                                    <legend>Basic information</legend>
                                    <div class="form-group">
                                        <label for="name" class="col-sm-2 control-label">Name</label>

                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="name" placeholder="Name...">
                                        </div>
                                    </div><br>
                                    <div class="form-group">
                                        <label for="description" class="col-sm-2 control-label">Description</label>

                                        <div class="col-sm-10">
                                            <textarea type="text" class="form-control img-rounded" id="description" placeholder="Description..."></textarea>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <legend>Team</legend>
                                    <div class="form-group">
                                        <label>
                                            Read-only
                                        </label>
                                        <ui-select multiple ng-model="team.readOnly" theme="bootstrap" ng-disabled="disabled">
                                            <ui-select-match placeholder="Select person...">
                                                {{$item.name}} &lt;{{$item.email}}&gt;
                                            </ui-select-match>
                                            <ui-select-choices repeat="person in people | propsFilter: {name: $select.search, age: $select.search}">
                                                <div ng-bind-html="person.name | highlight: $select.search"></div>
                                                <small> email: {{person.email}}
                                                    age: <span ng-bind-html="''+person.age | highlight: $select.search"></span> </small>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            Write access
                                        </label>
                                        <ui-select multiple ng-model="team.write" theme="bootstrap" ng-disabled="disabled">
                                            <ui-select-match placeholder="Select person...">
                                                {{$item.name}} &lt;{{$item.email}}&gt;
                                            </ui-select-match>
                                            <ui-select-choices repeat="person in people | propsFilter: {name: $select.search, age: $select.search}">
                                                <div ng-bind-html="person.name | highlight: $select.search"></div>
                                                <small> email: {{person.email}}
                                                    age: <span ng-bind-html="''+person.age | highlight: $select.search"></span> </small>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer border-top">
                        <button type="reset" class="btn btn-danger"><i class="ti-close"></i> Cancel</button>
                        <button type="submit" class="btn btn-success pull-right"><i class="ti-check"></i> Send</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>