<section id="page-title" class="padding-top-15 padding-bottom-15">
    <div class="row">
        <div class="col-sm-7">
            <h1 class="mainTitle">Repositories</h1>
            <span class="mainDescription">Manage your repositories</span>
        </div>
    </div>
</section>

<div class="container-fluid container-fullw padding-bottom-10" ng-controller="repositoriesCtrl">
    <div class="row"  ng-repeat="repository in repositories | orderBy : '-lastCommit'">
        <div class="col-sm-2">
            <img src="assets/images/big_logo.png" class="img-rounded height-90 center-block" ng-show="repository.photo === undefined">
            <img ng-src="{{repository.photo}}" class="img-rounded height-90 center-block" ng-hide="repository.photo === undefined">
        </div>
        <div class="col-sm-10 border-left">
            <div class="block">
                <h3 class="title inline">{{repository.name}}</h3>
                <small class="inline margin-left-5" tooltip-placement='right' tooltip='{{repository.lastCommit | date : "short"}}'>{{repository.lastCommit | timeago}}</small>
            </div>
            <p class="panel-scroll height-75" perfect-scrollbar wheel-propagation="false" suppress-scroll-x="true">
                {{repository.dec}}
            </p>
        </div>
    </div>
    <div class="row" ng-show="empty">
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 center-block float-none">
            <h1 class="text-center"><i class="fa fa-code fa-4x"></i> No repository could find out here.</h1>
            <br>
            <button ui-sref="app.newRepository" class="btn btn-success pull-right"><i class="fa fa-plus"></i> Create new one</button>
        </div>
    </div>
    <div class="row" ng-show="loading">
        <div class="col-xs-12 col-sm-9 center float-none">
            <h1 class="text-center"><img src="assets/images/loading.gif" width="50px"> Loading...</h1>
        </div>
    </div>
</div>