<section id="page-title" class="padding-top-15 padding-bottom-15">
    <div class="row">
        <div class="col-sm-7">
            <h1 class="mainTitle">Manage users</h1>
            <span class="mainDescription">List of system developers</span>
        </div>
    </div>
</section>

<div class="container-fluid container-fullw padding-bottom-10" ng-controller="usersCtrl">
    <div class="row">
        <div class="col-xs-12 col-sm-3">
            <div class="panel panel-white user-card">
                <div class="panel-heading">
                    <img src="assets/images/qt.jpg" class="img-circle center-block">
                    <h4 class="text-center">QTIƎE</h4>
                </div>
                <div class="panel-body border-top">
                    <label>Email:</label><em>AlirezaGhadimy@gmail.com</em><br>
                    <label>Age:</label><em>16</em><br>
                    <label>Language(s):</label><em>Full-stack</em><br>
                </div>
                <div class="panel-footer border-top">
                    <button class="btn btn-success"><i class="ti-user"></i> Profile</button>
                    <button class="btn btn-danger pull-right"><i class="ti-lock"></i> Accesses</button>
                </div>
            </div>
        </div>


    </div>
</div>