<!-- start: SEARCH FORM -->
<div class="search-form">
	<a class="s-open" href="#">
		<i class="ti-search"></i>
	</a>
	<form class="navbar-form" role="search">
		<a class="s-remove" href="#" ng-toggle-class="search-open" target=".navbar-form">
			<i class="ti-close"></i>
		</a>
		<div class="form-group">
			<input type="text" class="form-control" placeholder="{{ 'sidebar.search.PLACEHOLDER' | translate }}">
			<button class="btn search-button" type="submit">
				<i class="ti-search"></i>
			</button>
		</div>
	</form>
</div>
<!-- end: SEARCH FORM -->
<!-- start: MAIN NAVIGATION MENU -->
<div class="navbar-title">
	<span translate="sidebar.heading.NAVIGATION">Main Navigation</span>
</div>
<ul class="main-navigation-menu">
	<li ui-sref-active="active">
		<a ui-sref="app.dashboard">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-home"></i>
				</div>
				<div class="item-inner">
					<span class="title" translate="sidebar.nav.dashboard.MAIN"> Dashboard </span>
				</div>
			</div>
		</a>
	</li>
	<li  ui-sref-active="active">
		<a ui-sref="app.repositories">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-list"></i>
				</div>
				<div class="item-inner">
					<span class="title"> Repositories </span>
				</div>
			</div>
		</a>
	</li>
	<li  ui-sref-active="active">
		<a ui-sref="app.newRepository">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-plus"></i>
				</div>
				<div class="item-inner">
					<span class="title"> New repository </span>
				</div>
			</div>
		</a>
	</li>
	<li  ui-sref-active="active">
		<a ui-sref="app.users">
			<div class="item-content">
				<div class="item-media">
					<i class="fa fa-group"></i>
				</div>
				<div class="item-inner">
					<span class="title"> Users </span>
				</div>
			</div>
		</a>
	</li>
	<li  ui-sref-active="active">
		<a ui-sref="app.newUser">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-user"></i>
				</div>
				<div class="item-inner">
					<span class="title"> New user </span>
				</div>
			</div>
		</a>
	</li>
	<li  ui-sref-active="active">
		<a ui-sref="app.visits">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-bar-chart"></i>
				</div>
				<div class="item-inner">
					<span class="title"> Visits </span>
				</div>
			</div>
		</a>
	</li>
	<li  ui-sref-active="active">
		<a ui-sref="app.chat">
			<div class="item-content">
				<div class="item-media">
					<i class="fa fa-comment-o"></i>
				</div>
				<div class="item-inner">
					<span class="title"> Chat box </span>
				</div>
			</div>
		</a>
	</li>
	<li  ui-sref-active="active">
		<a ui-sref="app.note">
			<div class="item-content">
				<div class="item-media">
					<i class="fa fa-newspaper-o"></i>
				</div>
				<div class="item-inner">
					<span class="title"> Notebook </span>
				</div>
			</div>
		</a>
	</li>
	<li ng-class="{'active open':$state.includes('app.server')}">
		<a href="javascript:void(0)">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-server"></i>
				</div>
				<div class="item-inner">
					<span class="title"> Server </span><i class="icon-arrow"></i>
				</div>
			</div>
		</a>
		<ul class="sub-menu">
			<li ui-sref-active="active">
				<a ui-sref="app.server.terminal">
					<span class="title"> Terminal </span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="app.server.files">
					<span class="title"> File Manager </span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="app.server.ftp">
					<span class="title"> FTP Accounts </span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="app.server.mysql">
					<span class="title"> MySQL Databases </span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="app.server.subdomains">
					<span class="title"> Sub-domains </span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="app.server.emails">
					<span class="title"> Emails </span>
				</a>
			</li>
		</ul>
	</li>
</ul>
<!-- end: MAIN NAVIGATION MENU -->
<!-- start: CORE FEATURES -->
<div class="navbar-title">
	<span>Global</span>
</div>
<ul class="folders">
	<li  ui-sref-active="active">
		<a ui-sref="app.globalUsers">
			<div class="item-content">
				<div class="item-media">
					<i class="fa fa-group"></i>
				</div>
				<div class="item-inner">
					<span class="title"> All users </span>
				</div>
			</div>
		</a>
	</li>
</ul>
<!-- end: CORE FEATURES -->
<div class="wrapper">
	<a ui-sref="app.documentation" class="button-o">
		<i class="ti-pin"></i>
		<span>Main page</span>
	</a>
</div>